<!-- 首页 -->

<!DOCTYPE html>
<html>
<head>
	<link rel="icon" href="/images/Y-logo.ico">

    <title><%- theme.title %></title>
    <meta charset="utf-8">

    <!-- 引入配置文件 -->
    <%- css('css/main.css') %>
    
</head>

<% function mapName(item) { %>
	<% return item.name;  %>
<% } %>

<body>

    <div>

        <!-- 引入导航 -->
		<nav>
			<%- partial('partial/nav.ejs') %>
		</nav>


		<!-- 遍历文章 -->
		<div id="homepage">
			<% var posts = site.tags.findOne({name: 'home'}).posts %>
			<% page.posts.sort('date', -1).forEach(function(post) { %>
				<!-- 正文 -->
				<a href="<%- url_for(post.path) %>">
					<section>
						<div class="img">
							<% var img_path = url_for(post.path)+'cover.png' %>
							<!-- Black_Hole.png 为默认图片 -->
							<img src=<%- img_path %> onerror="this.src = '/images/Black_Hole.png';" >
						</div>
						<div class="img_text">
							<div class="post_title">
								<%- post.title %>
							</div>
							<div class="tag">
								<% const categories = post.categories.map(mapName); %>
								<%- categories.join(' > '); %>
							</div>
							<div class="date">
								<%- post.date.format('YYYY-MM-DD') %>
							</div>
						</div>
					</section>	
				</a>
			<% }); %>
		</div>

		<!-- 右侧联系方式 -->
        <div id="selfie">
			<p class="head"><img src="/images/head.jpg"></p>
			<p class="name">游 田</p>
			<p class="email">youtian@njtech.edu.cn</p>
			<p>
				<div class="icon">
					<a href="https://scholar.google.com/citations?user=iFixYUwAAAAJ&hl=en">
						<img src="/images/Google_Scholar_logo.svg">
					</a>
					<a href="https://www.researchgate.net/profile/Tian-You-5">
						<img src="/images/1024px-ResearchGate_icon_SVG.svg.png">
					</a>
					<a href="https://github.com/youtian95">
						<img src="/images/github-mark.png">
					</a>
				</div>
			</p>
		</div>

		<!-- 分页导航 -->
		<div id="page-nav">
			<%- paginator({
			  prev_text: "<",
			  next_text: ">",
			  escape: false
			}) %>
		</div>

		<!-- 引入footer -->
		<footer>
			<%- partial('partial/footer.ejs') %>
		</footer>

        
    </div>

	

    <!-- 引入 js 文件 -->
    <%- js('js/main.js') %>

</body>
</html>


